.cart-item-image-container{
    margin-right:20px;
}

.cart-item-image{
    width:100px;
    height:100px;
}

.cart-item-details{
    flex-grow:1;
}

.quantity-button{
    display:flex;
    align-items:center;
    background-color: #063985;
    width:60px;
}
.quantity-button{
    background-color: lightskyblue;
    border:none;
    border-radius:3px;
    padding: 5px 10px 10px 10px;
    cursor: pointer;
    margin-left: 5px;
    width:60px;
}

.cart-card
{
    background-color:#fff;
    border-radius:8px;
    box-shadow:8px 2px 4px rgba(0,0,0,0.1);
    width:300px;
    display: inline-block;
    margin:20px;
    padding:20px;
}  
