.cart-item-image-container{
    margin-right:20px;
}

.cart-item-image{
    width:50px;
    height:50px;
}

.cart-item-details{
    flex-grow:1;
}

.quantity-button{
    display:flex;
    align-items:center;
    background-color: #063985;
    width:60px;
}
.quantity-button{
    background-color: lightskyblue;
    border:none;
    border-radius:3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    width:60px;
}

