.navbar-container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    background-color:rgb(40, 151, 206);
    color:#063985;

}

.links{
    display:flex;
    margin-left:auto;
}

.nav-link{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left:20px;   
}

.nav-link:hover{
    color:#063985;

}

.logOut-button{
    background: #063985;
    color:white;
    border:none;
    padding:10px 15px;
    cursor: pointer;
    margin-left:20px;
}

.DropDown{
    display:flex;
    margin-left:auto;
   
}